# allennlp 0.9 with gradient accumulation and fp16
-e git://github.com/ibeltagy/allennlp@fp16_v0.9.0#egg=allennlp

# If the above installation is not working then uninstall and use the following [added: 17 May 2021]
# allennlp==0.9.0

# Following is needed to run allennlp-run module fruitfully
overrides==3.1.0

spacy
tqdm
dill
jsonlines
pandas
sklearn
ijson
Faker
seaborn
sumy